body {
	background-image: url(fond.jpg);
}
.encadre {
	border : 2px solid black;
	padding-left : 2px;
	padding-right : 2px;
	background-color: rgba(255, 190, 0);
}
.right{
	text-align : center;
	/margin-left : 70%;
}
h2 {
	text-align : center;
}
.left {
	text-align : left;
	/margin-right : 50%;
}

h1 {
	background-color:rgba(0, 32, 91, 0.6);
	color:white;
	margin-bottom : 10%;
	text-align : center;
	border : 2px solid black;
	padding-left : 2px;
	padding-right : 2px;
}
p {
	color:white;
	font-size : 20px
}
h2 {
	padding-right : 4px;

}
